:root{
    --spacing: 10px;
    --blur:10px;
    --base: #ffc600;
}

body{
    background-color: blueviolet;
    text-align: center;
}

h1{
    position: relative;
    top: 10px;
    color: white;
}
span{
    color: var(--base);
}
.control{
    position: relative;
    top: 20px;
}

.img{
    margin-top: 50px;
    height: 50vh;
    width: 50vw;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}